
.vs/slnx.sqlite
.vs/Risk/v17/ipch/AutoPCH/151fc92bbc89dde8/MAP.ipch
.vs/Risk/v17/Browse.VC.opendb
.vs/Risk/v17/Browse.VC.db-wal
.vs/Risk/v17/Browse.VC.db-shm
.vs/Risk/v17/Browse.VC.db
.vs/Risk/v17/.wsuo
.vs/Risk/FileContentIndex/read.lock
.vs/Risk/FileContentIndex/6fd701bd-fc99-42c8-b6b9-93411c692bde.vsidx
.vs/Risk/FileContentIndex/094fa584-a0b5-43e2-bdc6-f2b237f3ee2a.vsidx
.vs/Risk/FileContentIndex/7e7a1699-e0b6-4618-9b0d-2cbe2280c0e9.vsidx
